/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

/* Général */

*{
    margin: 0;
}

:root{
    --notosans: "Noto Sans", sans-serif;
    --gloriapolice: "Gloria Hallelujah", cursive;
    --orangefoncé: #CC3900;
    --rose: #FBBBCD;
    --gris: #6A6A6A;
    --bleu: #605BE5;
    --grisfoncé: #333333;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: var(--notosans);
}

a:hover{
    color: var(--orangefoncé);
    transition: all 0.3s ease-in-out;
}

h1{
    font-family: var(--gloriapolice);
    font-size: 45px;
    font-weight: 400;
}

h2{
    font-family: var(--notosans);
    font-size: 16px;
    font-weight: 400;
    color: var(--grisfoncé);
}

p{
    font-family: var(--notosans);
    font-size: 16px;
}

i{
    color: var(--orangefoncé);
    padding-right: 10px;
}

/* Header */

header{
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 1150px;
    justify-content: space-between;
    align-items: center;
}

header a img{
    width: 103px;
}

header nav ul{
    display: flex;
    gap: 20px;
}

header #Accueil{
    color: var(--orangefoncé);
}

header div i{
    color: var(--orangefoncé);
}

header #burger_menu{
    display: none;
}

/* Main */

/* Section 1 */

main .section1{
    max-width: 1440px;
    margin: auto;
    background-color: var(--rose);
    height: 200px;
    align-content: space-evenly;
}

main .section1 h1{
    text-align: center;
}

/* Section 2 */

main .section2 div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px auto;
    max-width: 1150px;
    gap: 20px; 
    padding-right: 80px;
}

main .section2 div img{
    width: 400px;
    margin-bottom: 10px;
}

main .section2 div .date{
    color: var(--gris);
    font-size: 14px;
    margin-bottom: 10px;
}

main .section2 div .info{
    color: var(--grisfoncé);
    font-size: 14px;
    text-align: justify;
    margin-bottom: 10px;
}

main .section2 div a{
    color: var(--bleu);
    font-size: 14px;
    margin-bottom: 10px;
}

main .section2 div a:hover{
    color: var(--orangefoncé);
    transition: all 0.3s ease-in-out;
}

main #btn #afficher{
    border: 1px solid #605BE5;
    padding: 10px 15px;
    background-color: #605BE5;
    color: white;
    width: fit-content;
}

main #btn #afficher:hover{
    background-color: #CC3900;
    border: #CC3900;
    transition: all 0.3s ease-in-out;
}

main #btn{
    display: flex;
    justify-content: center;
}

/* Footer */

footer{
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 1150px;
    justify-content: space-between;
    align-items: center;
}

footer a img{
    width: 103px;
}

footer div i{
    color: var(--orangefoncé);
}

footer .nav nav ul{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

footer .nav{
    display: inline
}

footer .nav #artcopy{
    text-align: center;
}

footer .nav #Accueil{
    color: var(--orangefoncé);
}

@media screen and (max-width: 1024px){
    header{
        padding: 0 15px;
    }

    header nav ul{
        display: none;
    }

    header #burger_menu{
        display: flex;
    }

    header div{
        display: none;
    }

    main .section1 h1{
        font-size: 28px;
    }

    main{
        padding: 0 15px;
    }

    main .section2 div{
        display: inline;
        padding-right: 0;
        text-align: center;
    }

    main .section2 div img{
        margin-top: 20px;
    }

    main .section2 div .info{
        text-align: center;
    }

    main #btn{
        margin-top: 15px;
    }

    footer{
        padding: 0 15px;
    }

    footer .nav #artnav{
        display: none;
    }
}

@media screen and (max-width: 767px){
    header{
        padding: 0 15px;
    }

    main .section2 div img{
        width: 250px;
    }

    main .section1 h1{
        font-size: 18px;
    }

    footer{
        padding: 0 15px;
    }

    footer a{
        display: none;
    }

    footer .nav #artnav nav{
        display: none;
    }
}